{% extends "news/base.html" %}
{% load static %}
{% block content %}
    <h3> Parolni qayta tiklash</h3>
    {% if validlink %}
            <p> Parolni qayta tiklash uchun formani to'ldiring</p>

    <form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-warning">Parolni almashtirish</button>
    </form>
        {% else %}
        <p> Siz notug'ri linkdan foydalandingiz yoki linkdan foydalanish vaqti tugadi</p>
        <p>Linkdan faqat bir marta foydalanish mumkin</p>
    {% endif %}

{% endblock content %}