{% extends 'news/base.html' %}
{% load static %}

{% block title %} Jahon yangiliklar {% endblock title %}
{% block content %}
    <!-- Main News Slider Start -->
                    {% for news in world_list %}
                    <div class="position-relative overflow-hidden" style="height: 500px;">
                        <img class="img-fluid h-100" src="{{ news.image.url }}" style="object-fit: cover;">
                        <div class="overlay">
                            <div class="mb-2">
                                <a class="badge badge-primary text-uppercase font-weight-semi-bold p-2 mr-2"
                                    href="">{{news.category}}</a>
                                <a class="text-white" href="">{{news.created_at}}</a>
                            </div>
                            <a class="h2 m-0 text-white text-uppercase font-weight-bold" href="{{ news.get_absolute_url }}">{{ news.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
{% endblock %}